#control {
  text-align: center;
  border:2px #7d54db solid;
  border-radius: 5px;
  margin: 10px 5%;
  padding-bottom: 5px;

}

#device_id {
  margin-bottom: 5px;
}

#demo_img {
  width: 70%;
  padding-top: 10px;
}

#demo-group{
  text-align: center;
  border:2px #7d54db solid;
  margin: 10px 5%;
  padding-bottom: 5px;
  border-radius: 5px;

}

#demo_btn, #test_button{
  font-size: 20px;
  border-radius: 3px;
}

#input {
  font-size: 20px;
  font-family:monospace;
}
